<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>SRE formato de acogida</title>
<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
<script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style type="text/css">
body{
	background:#FFFFFF;
}
.form-style-10{
	max-width:450px;
	padding:30px;
	margin:40px auto;
	background: #FFF;
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form-style-10 .inner-wrap{
	padding: 30px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
}
.form-style-10 h1{
	background: #9D2449;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #9D2449;
}
.form-style-10 h1 > span{
	display: block;
	margin-top: 2px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-style-10 label{
	display: block;
	font: 13px Arial, Helvetica, sans-serif;
	color: #888;
	margin-bottom: 15px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 .section{
	font: normal 20px 'Bitter', serif;
	color: #9D2449;
	margin-bottom: 5px;
}
.form-style-10 .section span {
	background: #9D2449;
	padding: 5px 10px 5px 10px;
	position: absolute;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -45px;
	color: #fff;
	margin-top: -3px;
}
.form-style-10 input[type="button"], 
.form-style-10 input[type="submit"]{
	background: #9D2449;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #9D2449;
	font-size: 15px;
}
.form-style-10 input[type="button"]:hover, 
.form-style-10 input[type="submit"]:hover{
	background: #2A6881;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.form-style-10 .privacy-policy{
	float: right;
	width: 250px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;
	text-align: right;
}
.form-style-10 .Automatic{
	width: 250px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #4D4D4D;
	margin-top: 10px;
	text-align: right;
}
#map {
    width: 100%;
    height: 200px;
}

#stream {
  display: none;
}
#capture {
  display: none;
}
#iconRed {
  display: none;
}
</style>
<script>
var calloutDelegate = {
    calloutRightAccessoryForAnnotation: function() {
        var accessoryViewRight = document.createElement("a");
        accessoryViewRight.className = "right-accessory-view";
        accessoryViewRight.href = "https://www.nps.gov/stli/index.htm";
        accessoryViewRight.target = "_blank";
        accessoryViewRight.appendChild(document.createTextNode("ⓘ"));

        return accessoryViewRight;
    }
};

function showPosition(position) {
	document.miForma.latitud.value = position.coords.latitude
	document.miForma.longitud.value = position.coords.longitude
	var thePos = new mapkit.Coordinate(position.coords.latitude, position.coords.longitude)
    var here = new mapkit.CoordinateRegion(
    	thePos,
        new mapkit.CoordinateSpan(0.005, 0.011)
    );
	map.region = here;
	var geocoder = new mapkit.Geocoder({
    	language: "es-MX",
    	getsUserLocation: true
	}).reverseLookup(new mapkit.Coordinate(position.coords.latitude, position.coords.longitude), (err, data) => {
		var res = data.results[0].formattedAddress.split(",");
		var i;
		var text = ""
		for (i = 0; i < res.length - 2; i++) { 
  			text += res[i];
		}
    	document.miForma.field8.value = text
    	document.miForma.field9.value = res[res.length - 2];
    	document.miForma.pais.value = res[res.length - 1].trim();
	    var annotation = new mapkit.MarkerAnnotation(thePos, {
    		title: res[0],
    		subtitle: document.miForma.field9.value + ", " + document.miForma.pais.value,
    		callout: calloutDelegate
		});
		map.showItems([annotation]);  
	});
}
function handleError(error) {
  	switch(error.code) {
    	case error.PERMISSION_DENIED:
      		// User denied the request for Geolocation.
		case error.POSITION_UNAVAILABLE:
      		// Location information is unavailable.
		case error.TIMEOUT:
      		// The request to get user location timed out.
    	case error.UNKNOWN_ERROR:
      		// An unknown error occurred.

	    	document.miForma.field8.value = "** No se pudo obtener su ubicación **";
    		document.miForma.field9.value = "";
    		document.miForma.pais.value = "";

			var Cupertino = new mapkit.CoordinateRegion(
    			new mapkit.Coordinate(37.3316850890998, -122.030067374026),
        		new mapkit.CoordinateSpan(0.167647972, 0.354985255)
        	);
		    map.region = Cupertino;
			break;
	}
}
function toggleCheckbox() {
	if (document.miForma.field7.checked) {
    	navigator.geolocation.getCurrentPosition(showPosition, handleError);
    	document.miForma.field8.disabled = true;
    	document.miForma.field9.disabled = true;
    	document.miForma.pais.disabled = true;
		document.miForma.boton.style.display = "none"

	} else {
    	document.miForma.field8.disabled = false;
    	document.miForma.field9.disabled = false;
    	document.miForma.pais.disabled = false;
		document.miForma.boton.style.display = "block"
	}
}

function getPosition(err, data) {
	var lat = data.results[0].coordinate.latitude;
	var lon = data.results[0].coordinate.longitude;
	document.miForma.latitud.value = lat
	document.miForma.longitud.value = lon
	var thePos = new mapkit.Coordinate(lat, lon)
    var here = new mapkit.CoordinateRegion(
    	thePos,
        new mapkit.CoordinateSpan(0.005, 0.011)
    );
    var annotation = new mapkit.MarkerAnnotation(thePos, {
    	title: document.miForma.field8.value,
    	subtitle: document.miForma.field9.value + ", " + document.miForma.selPais.value,
    	callout: calloutDelegate
	});
	map.showItems([annotation]);  
	map.region = here;
}
function actualizarMapa() {
	var direccion = document.miForma.field8.value + ", " + document.miForma.field9.value + ", " + document.miForma.selPais.value;
	var geocoder = new mapkit.Geocoder().lookup(direccion, getPosition);
}

// The video stream
var cameraStream = null;

// Start Streaming
function startStreaming() {

  var mediaSupport = 'mediaDevices' in navigator;

  if (mediaSupport && null == cameraStream) {

	document.getElementById("stream").style.display = "block";
	document.getElementById("snapshot").style.display = "none";
	document.getElementById("iconGreen").style.display = "none";
	document.getElementById("iconRed").style.display = "block";
	
    navigator.mediaDevices.getUserMedia({ video: true }).
    then(function (mediaStream) {

      cameraStream = mediaStream;

      stream.srcObject = mediaStream;

      stream.play();
    }).
    catch(function (err) {
	    alert('Se ha producido un error al intentar accesar la cámara. Es posible que su navegador no permita sacar fotografías. Intente volver a cargar esta página pero si el problema persiste por favor intente rellenar esta forma desde otro dispositivo.');
		document.getElementById("stream").style.display = "none";
		document.getElementById("iconGreen").style.display = "block";
		document.getElementById("iconRed").style.display = "none";
    	console.log("Unable to access camera: " + err);
    });
  } else
  {
    alert('Su navegador no permite sacar fotografías. Por favor intente rellenar esta forma desde otro dispositivo.');

    return;
  }
}

// Stop Streaming
function stopStreaming() {

  if (null != cameraStream) {

    var track = cameraStream.getTracks()[0];

    track.stop();
    stream.load();

    cameraStream = null;
  }
}

// Take picture
function captureSnapshot() {

  if (null != cameraStream) {
	capture.width = stream.videoWidth;
	capture.height = stream.videoHeight;
    var ctx = capture.getContext('2d');
    var img = new Image(capture.width, capture.height);

    ctx.drawImage(stream, 0, 0, capture.width, capture.height);

    img.src = capture.toDataURL("image/png");
    img.width = 390;
    img.height = 390 * (capture.height / capture.width);

    snapshot.innerHTML = '';
    snapshot.appendChild(img);
  }
}

// Take picture and stop streaming
function takePicture() {
	captureSnapshot();
	stopStreaming();
	document.getElementById("iconRed").style.display = "none";
	document.getElementById("iconGreen").style.display = "block";
	document.getElementById("stream").style.display = "none";
	document.getElementById("snapshot").style.display = "block";
	$('#capture')[0].setAttribute("captured",true);
}
</script>
</head>

<body>
<center>
	<img src="./images/SRE.png">
</center>

<div class="form-style-10">
	<h1>¡Anfitrión, regístrese ahora!<span>Gracias a su espíritu solidario podemos ayudar a los mexicanos varados en el extranjero</span></h1>
	<form name="miForma" onsubmit="return validarForma()" id="miForma">
    <div class="section"><span>1</span>Datos personales</div>
    <div class="inner-wrap">
        <label>Nombre(s) <input type="text" name="field1" value="Pedro" id="txtNombres" /></label>
        <label>Apellido paterno  <input type="text" name="field2" id="txtPaterno" value="Páramo"/></label>
        <label>Apellido materno  <input type="text" name="field3" id="txtMaterno" value="Pérez"/></label>
        <label>Número de pasaporte  <input type="text" name="field4" id="txtIdPasaporte" value="G123446567"/></label>
		<label>Fotografía</label>
		<div class="streamSection">
			<video id="stream" width="100%"></video>
			<canvas id="capture" captured=false></canvas>
		</div>
		<div class="pictureSection">
			<div id="snapshot" width="100%"></div>
		</div>
		<div class="greenIconSection">
			<center><a id="iconGreen" onclick="startStreaming()"><img src="./images/TakePictureGreen.png"></a></center>
		</div>
		<div class="greenIconSection">
			<center><a id="iconRed" onclick="takePicture()"><img src="./images/TakePictureRed.png"></a></center>
		</div>
    </div>

    <div class="section"><span>2</span>Datos de contacto</div>
    <div class="inner-wrap">
        <label>Correo electrónico <input type="email" name="field5" id="txtEmail" value="pedroppp@gmail.com" /></label>
        <label>Teléfono <input type="text" name="field6" id="txtTelefono" value="2322322323"/></label>
    </div>

    <div class="section"><span>3</span>Datos del hogar de acogida</div>
        <div class="inner-wrap">
		<span class="Automatic"><input type="checkbox" name="field7" onchange="toggleCheckbox()">Obtener de su ubicación actual</span><p>
        <label>Dirección <input type="text" name="field8" id="txtDireccion" /></label>
		<label>Región/Estado <input type="text" name="field9" id="txtRegion" /></label>
		<label>País
		<select id="selPais">
			<option value="España">España</option>
			<option value="Estados Unidos de América">Estados Unidos de América</option>
			<option value="Francia">Francia</option>
			<option value="México">México</option>
			<option value="Países Bajos">Países Bajos</option>
		</select>
		</label>
		<div id="map"></div>
		<input type = "button" name="boton" value="Actualizar mapa" onclick="actualizarMapa()">
		<p>
		<label>¿A cuántas personas podría acoger?
		<select id="selCantidadPersonas">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5 o más</option>
		</select>
		</label>
		</p>
    </div>
    <div class="button-section">
     <input type="button" value="Enviar" name="Sign Up" id="btnSubmitAnfitrion"/>
     <span class="privacy-policy">
     <input type="checkbox" name="field10">Acepta Términos y Condiciones 
     </span>
    </div>
    <input type="hidden" name="longitud">
    <input type="hidden" name="latitud">
</form>
</div>

<script>
// The stream & capture
var stream = document.getElementById("stream");
var capture = document.getElementById("capture");
var snapshot = document.getElementById("snapshot");

mapkit.init({  
    authorizationCallback: function(done) {
    done('eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiIsImtpZCI6IlVKOEcyRzQ3MlIifQ.eyJpc3MiOiI2Sk4yODVRVVM4IiwiaWF0IjoxNTg1MTg2ODkwLjkzNDEwMjEsImV4cCI6MTU4NTI3MzI5MC45MzQxMDN9.hBtSe12pMT7vWWca9C1lf9kHHO_TFxEXXELfKedskSdhkK8xVG0uuH1VQuTi9hTdcnhO_SUYNm58XD8E856aNw');
    }
});

var map = new mapkit.Map("map");
if (navigator.geolocation) {
} else { 
  	// El mapa no soporta geolocalización, no presentar opción
  	document.miForma.field7.style.display = "none"
}
</script>
<script src="./js/invoke.js"></script>
</body>
</html>
