.invitados-table {
    border: 0px;
    border-width: 0px;
    border-spacing: 0px;
    border-color: white;
    font: 13px Arial, Helvetica, sans-serif;
    color: #888;
    border-spacing: 3px;
    width: 100%;
}